{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block main %}

    <section class="CGU-container">
        <h1>CONDITIONS GÉNÉRALES D'UTILISATION</h1>
        <article>
            <p>
                Les présentes conditions régissent les relations entre le Site édité par Ugo Cosson et le visiteur, qui est réputé avoir pris connaissance des présentes conditions avant sa navigation sur le Site.


                Ugo Cosson informe les visiteurs du Site que les présentes conditions peuvent être modifiées à tout moment. Ces modifications entrent en vigueur dès leur mise en ligne et sont réputées acceptées sans réserve par tout visiteur qui accède au Site postérieurement à leur mise en ligne.


                Le Site est la propriété exclusive de la société Ugo Cosson, seule habilitée à utiliser et exploiter les droits de propriété intellectuelle et droits de la personnalité attachés à ce site, notamment les marques, dessins et modèles, droits d’auteur et droit à l’image, à titre originaire ou par l’effet d’une autorisation expresse, brevet et tout droit de propriété intellectuelle de la marque « COSSON ».


                L’usage de tout ou partie du Site, notamment par téléchargement, reproduction, transmission ou représentation à d’autres fins que pour usage personnel et privé dans un but non commercial est strictement interdit.


                Ugo Cosson s’efforce d’assurer au mieux de ses possibilités l’exactitude et la mise à jour des informations diffusées sur le Site, dont elle se réserve le droit de corriger, à tout moment et sans préavis, le contenu.


                Le visiteur est informé que l’accès au Site pourra être interrompu à tout moment par Ugo Cosson pour des raisons de maintenance, sécurité ou toute autre contrainte technique.


                La création des liens hypertextes vers le Site ne peut être faite qu’avec l’autorisation écrite et préalable de Ugo Cosson, autorisation qui pourra être révoquée à tout moment. Ugo Cosson décline toute responsabilité concernant le contenu des sites liés au Site.


                Ugo Cosson se réserve la possibilité de diffuser, à titre gracieux ou payant, des messages publicitaires ou promotionnels sur le Site.


                Conformément à la règlementation relative à la protection des données à caractère personnel, le visiteur est informé que Ugo Cosson, en tant que responsable de traitement, met en œuvre un traitement de données à caractère personnel. Pour en savoir plus, les visiteurs sont invités à se reporter à l’onglet « Politique de confidentialité ».


                Pour permettre aux visiteurs de bénéficier des produits et services proposés par Ugo Cosson, le Site utilise des cookies. Pour en savoir plus, les visiteurs sont invités à se reporter à l’onglet « Politique de confidentialité ».


                Dans les conditions prévues par la loi, Ugo Cosson n’encourt aucune responsabilité :

                pour toute imprécision, inexactitude, omission ou pour tous dommages résultant d’une intrusion d’un tiers ayant entrainé une modification des informations mises à disposition sur le Site.
                en cas de dommages provoqués à raison de l’accès d’un tiers non autorisé sur le Site ou rendant impossible son accès.
                Ugo Cosson et le visiteur conviennent réciproquement que le fait pour l’une des parties de tolérer une situation, quelles qu’aient pu en être la fréquence et la durée, n’a pas pour effet d’accorder à l’autre parties des droits acquis, ni de modifier les présentes conditions. Une telle tolérance ne peut être interprétée comme une renonciation à faire valoir les droits en cause.


                Les présentes conditions sont régies par le droit français.


                LES JURIDICTIONS FRANÇAISES SONT TERRITORIALEMENT COMPETENTES POUR CONNAITRE DE TOUT LITIGE AFFERENT A L’UTILISATION DU SITE.
            </p>
        </article>
    </section>
{% endblock %}
