{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block main %}
    <section class="CGV-container">
        <h1>CONDITIONS GÉNÉRALES DE VENTE</h1>
        <article>
            <h2>1. OBJET</h2>
            <p>Les Conditions Générales de Vente (ci-après « CGV ») visent à décrire les modalités de vente à distance des biens présents sur le site internet https://shop.gotaga.tv/ (ci-après le « Site ») entre le Vendeur et le Client. Elles expriment l'intégralité des obligations et des droits des Parties. Le Client dispose de la faculté de les imprimer.



                Les CGV s'appliquent, sans restriction ni réserve, à l'ensemble des ventes des produits proposés par le Vendeur sur son Site.



                En conséquence, le fait pour le Client de commander un produit proposé à la vente sur le Site, quel que soit le média utilisé, emporte acceptation pleine et entière des présentes CGV dont le Client reconnaît avoir pris connaissance préalablement à sa commande</p>

            <h2>2.GÉNÉRALITÉS</h2>
            <p>2.1. Est Client, au titre des CGV, toute personne physique, âgée d'au moins 18 ans ou disposant de l'autorisation de la personne habilitée à la date de la validation de sa commande. Le Client est un consommateur, c'est à dire qu'il agit à des fins qui n'entrent pas dans le cadre de son activité commerciale, industrielle, artisanale ou libérale. Dans le cas des livraisons à domicile, le Client réside en France Métropolitaine (Monaco comprise, hors Corse), Suisse, Belgique, Luxembourg, Canada, Martinique, Guadeloupe, La Réunion, Mayotte, Saint Barthélémy, Saint-Martin (partie française), Saint-Pierre-Et-Miquelon. Ce dernier reconnaît avoir la pleine capacité juridique pour s'engager au titre des CGV.



                2.2. Toute commande doit faire l’objet d’une identification par un compte client. Ainsi, lors de la première commande et afin de personnaliser son environnement, une adresse électronique et un mot de passe doivent être saisis par le Client. Un contrôle d'unicité et d'identifiant est alors effectué par le système. En cas de perte du mot de passe, le Client peut cliquer sur le lien " mot de passe oublié ? " et saisir son adresse électronique. Le Client recevra un lien permettant d'initialiser son mot de passe. Ce mot de passe ne sert en aucun cas à effectuer un quelconque paiement. Ce mot de passe, strictement confidentiel, sera demandé au Client non authentifié avant chaque transaction. Pour chaque commande, le Client devra se connecter en rentrant son identifiant et son mot de passe dans l’espace dédié à cet effet.



                2.3. En cas de non-respect des CGV par le Client, le Site se réserve la faculté de désactiver, de plein droit et sans indemnité, le compte du Client, après l'envoi d'un courrier électronique ou d'une lettre recommandée avec avis de réception de mise en demeure, resté sans effet pendant plus de 30 jours. Néanmoins, il est précisé que dans le cas d'un manquement ou d'une fraude manifeste et significative de la part d'un Client, la désactivation du compte se fera de plein droit, sans préavis, sans formalité et sans indemnité.



                Le Client qui souhaite désactiver son compte le fera par courrier électronique ou lettre recommandée avec avis de réception adressée au Service Clients. La désactivation du compte sera réalisée dans un délai maximum de 7 jours à compter de la réception de ce courrier.



                2.4. Le Vendeur se réserve la possibilité de modifier et de mettre à jour les CGV. Pour être informé de ces éventuelles modifications, le Vendeur conseille au Client, et de manière générale à tout utilisateur, de relire les CGV et la charte « Confidentialité et Cookies » du Site régulièrement. La commande sera soumise aux CGV en vigueur au moment de la commande.



                2.5. Si une ou plusieurs stipulations des présentes CGV sont tenues pour non valides ou déclarées comme telles en application d'une loi, d'un règlement ou à la suite d'une décision définitive d'une juridiction compétente, les autres stipulations garderont toute leur force et leur portée.



                2.6. Le fait pour l'une des Parties de ne pas se prévaloir auprès de l'autre Partie d'un manquement à l'une quelconque des obligations visées au sein des présentes CGV ne saurait être interprété pour l'avenir comme une renonciation à l'obligation en cause.</p>

            <h2>3. CARACTÉRISTIQUES DES PRODUITS ET PRIX</h2>
            <p>3.1. Le Vendeur présente sur son Site les produits ainsi que leurs descriptifs détaillés permettant au Client de connaître, avant la prise de commande définitive, leurs caractéristiques essentielles. Le Client reconnaît avoir pris connaissance, au moment de la passation de commande, des conditions particulières de vente énoncées sur écran (dénomination, prix, composants, poids, quantité, couleur, particularités des produits et coût des prestations) et déclare expressément les accepter sans réserve.



                Les offres des produits et les prix figurant sur le Site sont valables tant qu'ils sont visibles et disponibles (= présence du bouton " Ajouter au panier "). Un produit devenu indisponible est indiqué comme tel. Il est néanmoins précisé que le simple fait d'ajouter un produit dans le panier ne vaut pas validation de la commande. Autrement dit, le produit peut devenir indisponible entre le moment de l'ajout dans le panier et la validation de la commande par le Client.



                3.2. Les prix des produits sur le Site sont indiqués en Euros toutes taxes comprises (TTC). Les prix des produits ne comprennent pas les frais de communication liés à l'utilisation du Site. Les prix sont soumis à la T.V.A. française et tout changement du taux légal de cette T.V.A. sera répercuté sur le prix des produits, à la date stipulée par le décret d'application s'y référant.



                En cas d'erreur de saisie, d'impression ou de calcul laissant apparaître un prix nettement inférieur au prix normalement pratiqué, le Client se verra appliquer le prix le plus bas sauf si ce prix est manifestement dérisoire c'est-à-dire sans rapport avec la valeur réelle du produit commandé. Dans ce cas la commande, même si elle a fait l'objet d'une confirmation automatique par le Vendeur, sera annulée. Le Client sera informé dans les meilleurs délais afin qu'il puisse, s'il le souhaite, repasser une commande au prix normalement pratiqué.</p>

            <h2>4. VALIDATION DE LA COMMANDE</h2>
            <p>
                4.1. Le Client passe sa commande conformément aux indications figurant sur le Site et dans les présentes CGV. Chaque article doit être ajouté au panier. Un récapitulatif qui reprend tous les éléments du panier s’affiche en cliquant sur « Commander ». Le Client peut à ce stade, vérifier, modifier et supprimer les produits sélectionnés. Le Client valide ensuite son panier par un " clic " sur le bouton " Commander ". Toute commande non validée ne pourra être honorée. Ainsi, le simple fait d'ajouter un produit dans le panier ne vaut pas validation de la commande. Après avoir validé sa commande, le Client sélectionne ensuite son mode de réception des produits, en fonction des options proposées par le Vendeur, et rentre les données correspondantes à son moyen de paiement puis reconnaît son obligation de paiement selon les modalités décrites à l’article 5.

                Le Vendeur recommande au Client de conserver une trace des données relatives à sa commande sur support papier ou sur un support informatique fiable.



                4.2. Le Vendeur confirme la prise en compte de la commande du Client par l'envoi d'un courrier électronique automatique reprenant les caractéristiques essentielles des produits commandés, l'indication du prix TTC et le cas échéant, les difficultés ou réserves relatives à la commande passée.

                Le Vendeur pourra demander au Client des justificatifs d'identité. Dans ce cas, la commande ne sera confirmée qu'à compter de la réception et validation de ces pièces. Le délai de préparation de la commande peut être influencé par tout retard dans la transmission de ces informations. En cas de non-fourniture des pièces avant le jour de retrait de la commande, le Vendeur se réserve le droit d'annuler la commande. En outre, le Vendeur se réserve la possibilité de ne pas confirmer la commande, notamment en cas de refus d'autorisation de paiement de la part des organismes officiellement accrédités ou en cas de non-paiement d'une commande précédente ou de litige de paiement en cours d'administration, en cas de problème concernant la commande reçue, en cas de commande incomplète, de problème prévisible concernant la fourniture du produit, ou en présence d'une procédure de retrait ou de rappel engagée concernant un ou plusieurs des produits commandés. Le Vendeur en informera le Client par courrier électronique. Le défaut de confirmation par le Vendeur ne saurait s'analyser comme valant confirmation et acceptation de la commande.
            </p>

            <h2>5. PAIEMENT</h2>
            <p>
                5.1. A aucun moment, les sommes encaissées ne pourront être considérées comme des arrhes ou des acomptes. Le Client reconnait explicitement son obligation de paiement à l'occasion de la validation de la commande

                Autrement dit, le Client reconnait que la passation d'une commande entraîne le paiement de celle-ci lorsqu’il clique sur le bouton "Commander ".



                Le Client pourra régler sa commande à l’aide des moyens de paiement suivant :



                Carte du réseau Mastercard
                Carte du réseau Visa
                Paypal


                Toutes les transactions bancaires s’effectuent d’une manière sécurisée. Les informations communiquées lors de la passation de la commande (numéro de carte et date de validité) ne seront pas stockées sur les serveurs du Site. Pour accroître la sécurité, le Client devra communiquer ces informations à chaque nouvelle commande.



                Il est précisé que le paiement par chèque n’est pas accepté.



                5.2. Le Client garantit au Vendeur que le moyen de paiement utilisé est en cours de validité et n'est pas issu d'une opération frauduleuse. Dans le cas d'une commande qui n'aurait pas été réglée totalement ou partiellement par le Client, le Vendeur s'engage à en informer le Client par courrier électronique et à lui demander d'y remédier. A défaut de réponse ou de solution avant la date de retrait de la commande, le Vendeur se réserve le droit notamment de refuser d'honorer une commande, d'annuler toutes les commandes en cours ou de suspendre le compte du Client. De plus, le Vendeur s'autorise à suspendre toute commande en cas de refus d'autorisation de paiement de la part des organismes financiers.
            </p>

            <h2>6. LIVRAISON ET RÉCEPTION</h2>
            <p>
                Le Vendeur pourra proposer différentes options de livraison au Client concernant l’envoi de sa commande qui seront indiquées avant la validation de la commande.

                La livraison à domicile s’effectue à l'adresse de livraison indiquée par le Client, dès lors que cette adresse fait partie de la zone de livraison du Vendeur. Le Client s'engage donc à réceptionner les produits à l'adresse indiquée sur le bon de commande. La livraison s'entend du transfert au Client de la possession physique ou du contrôle du bien.



                Il appartient au Client de vérifier l'exactitude des informations saisies avant la validation de la commande (Numéro de Bâtiment, étage, nom interphone, digicode). En cas d'erreur dans le libellé des coordonnées du Client destinataire (notamment nom, prénom, numéro et nom de rue, code postal, nom de ville, numéro de téléphone ou adresse électronique), ni le Vendeur, ni le livreur ne sauraient être tenus responsables de l'impossibilité dans laquelle ils pourraient être de remettre la commande.



                La livraison s’entend au pas de la porte de l’adresse indiquée par le Client et en présence de celui-ci ou de toute personne habilitée à réceptionner la marchandise. Les livreurs ne sont pas tenus d’entrer dans le domicile du Client. Le Vendeur se réserve le droit de ne pas donner suite à une commande venant d'un Client qui ne pourrait pas justifier de son adresse de livraison sur simple demande du service clients ou du livreur.



                Les commandes ne pourront pas être livrées à un étage situé au-delà du sixième étage dès lors que cet étage n'est pas accessible via un ascenseur.

                Le Client accepte de faire la preuve de son identité, en cas de demande du livreur, par une pièce officielle en vigueur et en communiquant si nécessaire, le numéro de commande qui a été attribué par le système à sa commande et qui lui a été communiqué dans le courrier électronique de confirmation de la réception de la commande.

                Si le Client est dans l'impossibilité de réceptionner lui-même la commande, il devra mandater, pour le représenter, un tiers muni d'un pouvoir et de la photocopie de la carte d'identité dudit Client.



                Aucune demande de remise des produits commandés ne pourra être honorée si les conditions indiquées ci-dessus ne sont pas respectées par le Client.

                En cas de livraison sur le lieu de travail du Client, le livreur, n'ayant pas accès aux locaux, le Client devra prendre toutes les précautions nécessaires afin que le livreur puisse lui remettre la commande et que le Client puisse la réceptionner.

                Le Vendeur ne peut être tenu responsable de la remise de la commande à un tiers présent à l’adresse de livraison déclarée par le Client lors de la validation de la commande.



                Dès la livraison de la commande au Client à l'adresse indiquée et après la signature du bon de livraison par le Client, l’obligation de livraison sera effectuée. Le Vendeur décline ainsi toute responsabilité en cas de perte ou de vol ultérieurs.

                Des frais de livraison peuvent être exigés en fonction des produits et de l’adresse du Client. Les frais de livraison sont calculés automatiquement et indiqués avant la validation de la commande.



                La date de livraison sera déterminée et communiquée au Client. Le Vendeur mettra alors en œuvre ses meilleurs efforts afin de respecter les délais de livraison des produits commandés. Dans l'hypothèse où ces délais ne pourraient pas être tenus, le Client en sera automatiquement informé par tous moyens tels que notamment courrier électronique, SMS ou téléphone.

                En cas de retard de livraison, le Vendeur suggère au Client de lui signaler ce retard en contactant le Service Clients afin de convenir ensemble de la meilleure solution.

                Il est enfin précisé que dans les cas où (a) le Client ne réceptionne pas sa commande, (b) le transporteur est dans l'impossibilité de le lui livrer (ex : adresse inexacte ou incomplète) ou encore (c) le Client ne vient pas récupérer sa commande à l'endroit indiqué par le transporteur (ex : poste, relai colis, etc), le Vendeur contactera le Client par tout moyen (téléphone, email) afin de convenir ensemble d'une nouvelle livraison.

                Si le Vendeur n'arrive pas à contacter le Client et/ou qu'un nouvelle livraison est impossible dans un délai maximum de quatre (4) mois à compter de la date de livraison initiale, le Vendeur pourra annuler la commande et procédera au remboursement de celle-ci, déduction faite des frais de livraison qui resteront acquis par le Vendeur.
            </p>

            <h2>7. DÉLAI DE RÉTRACTATION</h2>
            <p>Conformément à l’article L.221-18 du Code de la consommation, le Client dispose d’un délai de quatorze (14) jours pour exercer votre droit de rétractation concernant votre commande.



                Comment faire ?



                Le Client devra notifier son souhait de rétractation en écrivant à la page contactez-nous, avant l’expiration du délai susvisé.

                Le délai d'exercice du droit de rétractation expire quatorze (14) jours après le jour où le Client prend physiquement possession des produits.



                Comment restituer les produits ?



                Dès lors que le Client a notifié son souhait de rétractation, il devra restituer le ou les produits sans retard excessif et en tout état de cause dans les 14 jours suivant sa rétractation à l'adresse suivante :

                Cubyn - GCorp

                Service retour FBC

                41 avenue du gros chêne

                95220 Herblay

                FRANCE

                Le retour du ou des produits s'effectue dans leur emballage d'origine, et en bon état, accompagnés de tous les accessoires éventuels et de la documentation. Le ou les produit(s) doit/doivent être en parfait état de revente. Tout produit incomplet ou endommagé suite aux manipulations autres que celles nécessaires pour établir sa nature, ses caractéristiques et son bon fonctionnement ne sera pas remboursé.

                Les frais et coûts associés au retour des produits suite à votre décision de rétractation sont à la charge du Client.



                Le remboursement

                Le remboursement interviendra dans un délai maximum de quatorze (14) jours à compter de laquelle le Client nous a informé de sa décision de rétractation. Il est précisé que le Vendeur se réserve le droit de différer le remboursement jusqu’à récupération des produits.

                Le Vendeur remboursera le Client en utilisant le même moyen de paiement que celui utilisé pendant la transaction initiale sauf si le Client consent expressément un moyen de paiement différent.

                Il est précisé qu’un produit ayant bénéficié d’un avantage commercial (promotions) sera remboursé au prix réellement payé par le Client et non à son prix initial non-remisé.



                Exclusions du droit de rétractation
                Le Vendeur rappelle au Client que le droit de rétractation ne peut être exercé pour les contrats :



                De fourniture de biens confectionnés selon les spécifications du consommateur ou nettement personnalisés ;
                De fourniture de biens susceptibles de se détériorer ou de se périmer rapidement ;
                De fourniture de biens qui ont été descellés par le consommateur après la livraison et qui ne peuvent être renvoyés pour des raisons d'hygiène ou de protection de la santé ;
                De fourniture d'enregistrements audio ou vidéo ou de logiciels informatiques lorsqu'ils ont été descellés par le consommateur après la livraison ;
                De fourniture d'un contenu numérique non fourni sur un support matériel dont l'exécution a commencé après accord préalable exprès du consommateur et renoncement exprès à son droit de rétractation.</p>

            <h2>8. GARANTIES LÉGALES</h2>
            <p>
                8.1. Garantie légale de conformité



                Le Vendeur s'engage à remettre au Client un bien ou un service conforme à sa demande.

                Le Client peut, en tout état de cause, pour les biens corporels, se prévaloir, auprès du Vendeur (à l’adresse mentionnée à l’article 10), de la garantie légale de conformité prévue par le Code de la consommation notamment des articles :

                Article L.217-4 du Code de la consommation : « Le vendeur livre un bien conforme au contrat et répond des défauts de conformité existant lors de la délivrance. Il répond également des défauts de conformité résultant de l'emballage, des instructions de montage ou de l'installation lorsque celle-ci a été mise à sa charge par le contrat ou a été réalisée sous sa responsabilité » .

                Article L.217-5 du Code de la consommation : « Le bien est conforme au contrat :



                1. S’il est propre à l'usage habituellement attendu d'un bien semblable et, le cas échéant :



                • s’il correspond à la description donnée par le vendeur et possède les qualités que celui-ci a présentées à l'acheteur sous forme d'échantillon ou de modèle ;

                • s’il présente les qualités qu'un acheteur peut légitimement attendre eu égard aux déclarations publiques faites par le vendeur, par le producteur ou par son représentant, notamment dans la publicité ou l'étiquetage ;



                2. Ou s’il présente les caractéristiques définies d'un commun accord par les parties ou est propre à tout usage spécial recherché par l'acheteur, porté à la connaissance du vendeur et que ce dernier a accepté ».

                Article L.217-12 du Code de la consommation : « L'action résultant du défaut de conformité se prescrit par deux ans à compter de la délivrance du bien ».

                Enfin, il est rappelé que l’article L.217-16 du Code de la consommation dispose que : « Lorsque l'acheteur demande au vendeur, pendant le cours de la garantie commerciale qui lui a été consentie lors de l'acquisition ou de la réparation d'un bien meuble, une remise en état couverte par la garantie, toute période d'immobilisation d'au moins sept jours vient s'ajouter à la durée de la garantie qui restait à courir. Cette période court à compter de la demande d'intervention de l'acheteur ou de la mise à disposition pour réparation du bien en cause, si cette mise à disposition est postérieure à la demande d'intervention ».



                8.2. Garantie des vices cachés

                Le Vendeur reste également tenu des vices rédhibitoires de la chose dans les conditions prévues aux articles 1641 à 1649 du Code civil.

                Article 1641 du Code civil : « Le vendeur est tenu de la garantie à raison des défauts cachés de la chose vendue qui la rendent impropre à l'usage auquel on la destine, ou qui diminuent tellement cet usage, que l'acheteur ne l'aurait pas acquise, ou n'en aurait donné qu'un moindre prix, s'il les avait connus ».

                Article 1648 alinéa 1 du Code civil : « L'action résultant des vices rédhibitoires doit être intentée par l'acquéreur, dans un délai de deux ans à compter de la découverte du vice ».
            </p>

            <h2>9. SERVICE CLIENT</h2>
            <p>
                Pour toute question, information ou réclamation, le Service Client est à votre disposition :



                Par courrier électronique : support@gotaga.tv


                La fiche détaillée du produit est la seule source contractuelle. Les produits étant en constante évolution, les fabricants peuvent modifier sans préavis les emballages des produits, la composition technique et les caractéristiques des références produits.



                Le Vendeur peut s'exonérer de tout ou partie de sa responsabilité en apportant la preuve que l'inexécution ou la mauvaise exécution du contrat est imputable soit au Client, soit au fait, imprévisible et insurmontable, d'un tiers au contrat, soit à un cas de force majeure (telle que définie par la réglementation).
            </p>

            <h2>10. VOS DONNÉES À CARACTÈRE PERSONNEL</h2>
            <p>
                Conformément à la Réglementation relative à la protection des données à caractère personnel, le Client est informé que le Vendeur, en tant que responsable du traitement, met en œuvre un traitement de données à caractère personnel.



                Pour en savoir plus sur ce traitement de données à caractère personnel et sur l’étendue de leurs droits, les Clients sont invités à se reporter à la Politique de Confidentialité, accessible à l’adresse : https://shop.gotaga.tv/content/7-confidentialite.



                Pour toute demande concernant l’exercice des droits sur ses données personnelles traitées via le Site, le Client peut adresser sa demande en indiquant son nom, prénom, e-mail adresse et si possible sa référence client :



                Par courrier à l'adresse suivante : A l’attention du responsable des données personnelles, au 30 avenue Edouard Belin 92500 Rueil Malmaison
                Par courrier électronique : support@gotaga.tv


                Conformément à la réglementation en vigueur, votre demande doit être signée et accompagnée de la photocopie d’un titre d’identité portant la signature du Client et préciser l’adresse à laquelle doit parvenir la réponse. Une réponse lui sera alors adressée dans les meilleurs délais.
            </p>

            <h2>11. LOI APPLICABLE ET JURIDICTION COMPÉTENTE</h2>
            <p>
                Les produits commercialisés par le Vendeur sont soumis au droit français quel que soit le pays/région de résidence de l'Acheteur et le lieu de passation de la Commande.

                TOUT LITIGE RELATIF A L'EXISTENCE, L’INTERPRÉTATION, L’EXÉCUTION OU LA RUPTURE DU CONTRAT CONCLU ENTRE LE VENDEUR ET LE CLIENT, MÊME EN CAS DE PLURALITÉ DE DÉFENDEURS, SERA, A DÉFAUT D'ACCORD AMIABLE, DE LA COMPÉTENCE EXCLUSIVE DES TRIBUNAUX FRANÇAIS COMPÉTENTS EN APPLICATION DES RÈGLES ÉDICTÉES PAR LE CODE DE PROCÉDURE CIVILE FRANÇAIS.
            </p>
        </article>
    </section>
{% endblock %}
