{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block main %}
    <section class="confidential-container">
        <h1>POLITIQUE DE CONFIDENTIALITÉ</h1>
        <p>La charte ci-dessous détaille la politique de la société en matière de données personnelles sur le site

             respecte vos préoccupations concernant la confidentialité des renseignements et informations personnels que vous nous fournissez. En nous communiquant vos renseignements et données personnels, vous consentez à ce que nous les utilisions, les étudions et, le cas échéant, les divulguions à des fins liées notamment à vos demandes de gestion de vos commandes sur le site. Par conséquent, nous vous encourageons à lire cette politique très attentivement. La présente charte Données Personnelles s’applique à toutes les données personnelles fournies par vous-même à Ugo Cosson BY G.</p>
        <article>
            <h2>1. INFORMATIONS GÉNÉRALES</h2>
            <p>Ugo Cosson BY G peut être amenée à collecter des données personnelles communiquées notamment lors de la création d’un compte ou de toute commande de produit sur le site.
                Toute information personnelle que vous serez amené à transmettre à Ugo Cosson BY G pour l'utilisation de certains services est soumise aux dispositions de la Loi n° 78-17 Informatique et Libertés du 06 janvier 1978.
                Lorsque vous visitez le site, nous collectons automatiquement certaines informations sur votre appareil, notamment des informations sur votre navigateur Web, votre adresse IP, votre fuseau horaire et certains des cookies installés sur votre appareil. En outre, lorsque vous naviguez sur le site, nous collectons des informations sur les pages Web individuelles ou les produits que vous affichez, sur les sites Web ou les termes de recherche qui vous renvoient au site, ainsi que des informations sur la manière dont vous interagissez avec le site. Nous nous référons à ces informations collectées automatiquement en tant qu’informations sur le périphérique.

                Nous recueillons des informations sur les appareils en utilisant les technologies suivantes:

                - Les «cookies» sont des fichiers de données placés sur votre appareil ou votre ordinateur et comprenant souvent un identifiant unique et anonyme. Pour plus d'informations sur les cookies et sur la façon de les désactiver, visitez le site
                - L'«historique» qui suit les actions qui se produisent sur le site et collecte des données, notamment votre adresse IP, le type de navigateur, le fournisseur de services Internet, les pages de renvoi / de sortie et les horodatages.
                - Les «balises Web», les «balises» et les «pixels» sont des fichiers électroniques utilisés pour enregistrer des informations sur la façon dont vous naviguez sur le site.

                De plus, lorsque vous effectuez un achat ou tentez d'effectuer un achat via le site, nous collectons certaines informations, notamment votre nom, votre adresse de facturation, l'adresse de livraison, les informations de paiement (y compris les numéros de carte de crédit et les informations PayPal), l'adresse e-mail et le numéro de téléphone. Nous nous référons à ces informations en tant qu' "Informations de commande".

                Lorsque nous parlons d' «Informations personnelles» dans la présente Politique de confidentialité, nous parlons à la fois d’informations sur les appareils et d’informations sur les commandes.</p>
            <h2>2. DROIT D’ACCÈS, DE RECTIFICATION, DE SUPPRESSION ET D’OPPOSITION AU TRAITEMENT</h2>
            <p>
                Chaque internaute dispose d'un droit d'accès, d'un droit de rectifier, de compléter, de mettre à jour, de verrouiller ou d'effacer les données à caractère personnel le concernant et, pour des motifs légitimes, de s'opposer à leur traitement. Pour exercer ces droits, l'internaute peut contacter par courrier électronique Ugo Cosson BY G à l'adresse suivante
            </p>
            <h2>3. GESTION DES DONNÉES PERSONNELLES</h2>
            <p>3.1 FINALITÉS DE LA COLLECTE DES DONNÉES
                Au travers de son site, Ugo Cosson BY G collecte les données vous concernant qui sont strictement nécessaires aux finalités suivantes :

                - Transmission d’informations relatives à notre société et à son activité,
                - Gestion de vos commandes effectuées sur le site,
                - Communiquer avec vous,
                - Examiner nos commandes pour détecter tout risque potentiel ou fraude,
                - Lorsque cela est conforme aux préférences que vous avez partagées avec nous vous fournissons des informations ou des publicités relatives à nos produits ou services.

                En outre nous utilisons les informations sur le périphérique que nous collectons pour nous aider à détecter les risques potentiels et les fraudes (en particulier votre adresse IP), et plus généralement à améliorer et optimiser notre site (par exemple, en générant des analyses sur la manière dont nos clients naviguent et interagissent avec site, et d’évaluer le succès de nos campagnes de marketing et de publicité).</p>

            <h2>3.2 CONSERVATION DES DONNÉES</h2>
            <p>
                Les données sont conservées pendant une durée qui n’excède pas la durée nécessaire aux finalités pour lesquelles elles ont été collectées et en toute hypothèse les durées légales applicables.
            </p>*

            <h2>3.3 DESTINATAIRES DES DONNÉES</h2>
            <p>
                Nous partageons vos informations personnelles avec des tiers pour nous aider à utiliser vos informations personnelles, comme décrit ci-dessus. Par exemple, nous utilisons Prestashop pour alimenter notre boutique en ligne.  Nous utilisons également Google Analytics pour nous aider à comprendre comment nos clients utilisent le site.

                Enfin, nous pouvons également partager vos informations personnelles afin de respecter les lois et réglementations en vigueur, de répondre à une assignation à comparaître, à un mandat de perquisition ou à toute autre demande licite d'informations que nous recevons, ou de protéger nos droits de quelque manière que ce soit.

                Pour les besoins de la gestion technique du stockage de vos données personnelles, vos données seront centralisées sur les serveurs centraux de notre prestataire qui se situe en France.
            </p>

            <h2>
                3.4 SÉCURITÉ ET CONFIDENTIALITÉ DES DONNÉES
            </h2>

            <p>
                Ugo Cosson BY G s’est efforcée de mettre en place toutes précautions utiles pour préserver la confidentialité et la sécurité des données personnelles traitées et empêcher qu’elles ne soient déformées, endommagées, détruites ou que des tiers non autorisés y aient accès. Les mesures de sécurité technique et organisationnelle conformes à l’état de l’art, notamment pour ce qui relève des systèmes d’information, ont été instaurées.

                Cependant, Ugo Cosson BY G ne maîtrise pas tous les risques liés au fonctionnement d'Internet et attire l'attention des internautes sur l'existence d'éventuels risques inhérents à son utilisation et à son fonctionnement.
            </p>

            <h2>4. COMPORTEMENT PUBLICITAIRE</h2>
            <p>
                Comme décrit ci-dessus, nous utilisons vos informations personnelles pour vous fournir des publicités ciblées ou des communications marketing susceptibles de vous intéresser. Pour plus d’informations sur le fonctionnement de la publicité ciblée, visitez la page pédagogique de la Network Advertising Initiative («NAI») à l’adresse

                Veuillez noter que nous ne modifions pas la collecte de données de notre site ni les pratiques en vigueur lorsque nous voyons un signal "Do Not Track" (DNT) de votre navigateur.
            </p>

            <h2>5. MODIFICATION DE NOTRE CHARTE DONNÉES PERSONNELLES</h2>
            <p>
                Ugo Cosson BY G peut être amenée à modifier sa Charte Données Personnelles. Du fait des changements qui peuvent intervenir dans la Charte de Données personnelles, nous vous invitons à visiter régulièrement la rubrique « Politique de Confidentialité ».

                CONTACTEZ NOUS

                Pour plus d'informations sur nos pratiques en matière de confidentialité, si vous avez des questions ou si vous souhaitez déposer une plainte, veuillez nous contacter par e-mail à l'adresse  ou par courrier électronique en utilisant les coordonnées ci-dessous:

                UGO COSSON
                [Objet: responsable de la protection de la vie privée]
                119 bis rue de Colombes
                92600 Asnières sur Seines, France
            </p>
        </article>
    </section>
{% endblock %}
