{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block main %}
    <section class="legal-container">
        <h1>MENTIONS LÉGALES</h1>
        <article>
            <p>
                Le présent Site (le « Site ») est édité par la société STARDUST BY G, Société Par Actions Simplifiée à associé Unique au capital de 2 000,00 EUR – 843 273 939 RCS NANTERRE - ayant pour siège social le 119 Bis Rue de Colombes, 92600 Asnières sur Seine

                Le Directeur de la Publication est : Corentin HOUSSEIN

                L’hébergement du Site est assuré par la société AMAZON WEB SERVICES EMEA SARL - 831 001 334 - 38 AVENUE JOHN F KENNEDY L 1855 LUXEM LUXEMBOURG

                 Cossonpeut être contacté à tout moment par courrier électronique à l'adresse suivante : support@Ugo Cosson.tv ou en écrivant à l'adresse postale suivante : 30 avenue Edouard Belin 92500 Rueil Malmaison
            </p>
        </article>
    </section>
{% endblock %}
